.user {
    width:50%;
    border: 1px solid lightgray;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:space-between;
    text-align:justify;
    margin:10px;
}

.user:hover {
    border:1px solid gray;
}

.user-banner {
    height:150px;
    border-radius:5px 5px 0px 0px;
}

.user-header {
    display:flex;
    flex-direction: row;
    justify-content: justify;
    width:100%;
    align-items: center;
    margin:10px;
}

.user-header img {
    width:50px;
    height:50px;
    border-radius:30px;
    margin-right: 20px;
}

.user-header-button {
    width: auto;
    height: 40px;
    border:1px solid lightgray;
    border-radius:5px;
    margin-left:10px;
    display: flex;
    flex: row;
    align-items:center;
    padding:5px;
    background-color:white;
}

.subscribed {
    width: auto;
    height: 40px;
    border-radius:5px;
    margin-left:10px;
    display: flex;
    flex: row;
    align-items:center;
    padding:5px;
    border: none;
    background-color: red;
    color:white;
}

.user-header-button:hover {
    border:1px solid gray;
}

.user-info {
    display:flex;
    width:33%;
    justify-content: justify;
    margin:0px 10px 10px 10px;
}

.user-info-sub {
    border-right:1px solid lightgray;
    padding:5px;
    text-align: right;
}

.user-info-sub img {
    width:25px;
    height:25px;
    margin-right:5px;
}

.user-info-sub:hover {
    text-decoration: underline;
    border-right:1px solid gray;
}

.user-info-sub:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: white; /* Полупрозрачный цвет фона */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border:1px solid lightgray;
}

.user-description {
    margin:0px 10px 10px 10px;
}

.user-preview {
    width:100%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    align-content:center;
    text-align:justify;
    margin-top:10px;
    align-items:center;
}

.user-preview:hover {
    border: 1px solid gray;
}

.user-preview img {
    width:35px;
    height:35px;
    margin:7px;
    border-radius:25px;
}

.signup-container {
    width:500px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border:1px solid lightgray;
    border-top:20px solid red;
    border-radius: 10px;
}

.signup-container h2 {
    align-self: center;
    margin:15px;
}

.signup-container label {
    margin-left:15px;
}

.signup-container input {
    margin:15px;
    height:35px;
    border:1px solid lightgray;
    border-radius: 7px;
}

.signup-container input:hover {
    border:1px solid gray;
}

.signup-container button {
    width:250px;
    height:50px;
    margin:15px 125px 15px 125px;
    border:none;
    background-color: red;
    border-radius: 10px;
    color:white;
}