.create-button {
    width:100%;
    height:50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content:center;
    align-items: center;
    margin-top:10px;
}

.create-button:hover {
    border: 1px solid gray;
}

.create-button img {
    width:25px;
    height:25px;
    margin:5px;
}